

header{
    background-image: url('../images/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    padding-bottom: 100px; 
    background-size: cover;
    background-position: top left,bottom right;
   


}

.nav{
    display:flex;
    justify-content: space-around;
    
}


.nav li{
    list-style: none;
    margin-bottom: 50px;

}
.text-color{
    color:rgba(78, 71, 255, 1);
    font-weight: bold;
}
 .bg-color{
    background-color: rgba(78, 71, 255, 1);
    color:white;
    font-size: small;
    display: inline;
    padding: 4px 12px;
    border-radius: 10px;
}


.font-style{
    
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}
.banner-heading{

  text-align: center;
  font-size: 35px;
}

button{
  
    background-color: rgba(78, 71, 255, 1);
    color:rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 12px 36px;
    display: block;
    margin:0 auto; 
   
}

/* action-section */
.action-section{
    display: flex;
    justify-content: space-around;
    margin-top:100px;

}

.title{
    font-weight: bold;
    font-size:42px;
    margin-bottom:23px;
}
.subtitle{
        color:rgba(37, 36, 50, 0.5);
        font-size:24px;
        margin-bottom: 23px;
}
.launch-button{
        color:rgba(255, 255, 255, 1);
        background-color:rgba(78, 71, 255, 1);
        margin-left: 40px;
        display: block;
        margin: 0;
        
}


.image{
    border-radius: 25px;
    
}

/* .productive-users */
.productive-users{
      background-color: rgba(78, 71, 255, 0.1);
      text-align: center;
       margin: 200px;
      padding: 60px 0px;
      border-radius: 10px;
      

}


.centerd-title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

.user-section{
    display: flex;
    justify-content: space-around;
}

.user-section li{

    list-style: none;
}

.user-number{
 font-weight: bold;
    font-size: 40px;
    color:rgba(78, 71, 255, 1);
}


.user-text{

  color:rgba(0, 0, 0, 0.5);
}




   



